05-web-services/MySoapConsumer/MySoapConsumer/Connected Services/UnitConversionService/UnitConversionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MySoapService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MySoapService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Temperature">
    <xs:sequence>
      <xs:element minOccurs="0" name="Unit" type="tns:Temperature.TempUnit" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Temperature" nillable="true" type="tns:Temperature" />
  <xs:simpleType name="Temperature.TempUnit">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Fahrenheit" />
      <xs:enumeration value="Celsius" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Temperature.TempUnit" nillable="true" type="tns:Temperature.TempUnit" />
</xs:schema>